<!--suppress HtmlUnknownAttribute -->
<div class="container" ng-controller="MemberController">
    <div class="container pt-4 pb-4">
        <div class="row pt-2 pb-2">
            <div class="col-md-12 col-12 d-flex align-items-center">
                <a onclick="location.href='/'"><i class="fa fa-arrow-left"></i></a>
                <h3 class="mb-0 mx-3">Mitgliedsverwaltung</h3>
            </div>
        </div>
    </div>
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ userData.username }}</h5>
                        <p class="card-text"><small class="text-muted">{{ userData.id }}</small></p>
                    </div>
                </div>
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-mitgliedschaften-list" data-bs-toggle="list"
                       href="#list-mitgliedschaften" role="tab" aria-controls="mitgliedschaften">Mitgliedschaft</a>
                    <a class="list-group-item list-group-item-action" id="list-referenzen-list" data-bs-toggle="list" href="#list-referenzen"
                       role="tab" aria-controls="referenzen">Dateien</a>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-mitgliedschaften" role="tabpanel" aria-labelledby="list-mitgliedschaften-list">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Mitgliedschaft</h5>
                                <hr class="bg-danger border-2 border-top border-info">
                                <form>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="username" ng-model="userData.username" ng-readonly="!editStates.username">
                                            <button class="btn" ng-class="editStates.username ? 'btn-success' : 'btn-outline-secondary'" type="button" ng-click="toggleEdit('username', userData.username)">
                                                <i class="fa" ng-class="editStates.username ? 'fa-floppy-disk' : 'fa-pen'"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="mitgliedsnummer" class="form-label">Mitgliedsnummer</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="mitgliedsnummer" ng-model="userData.mitgliedsnummer" ng-readonly="!editStates.mitgliedsnummer">
                                            <button class="btn" ng-class="editStates.mitgliedsnummer ? 'btn-success' : 'btn-outline-secondary'" type="button" ng-click="toggleEdit('mitgliedsnummer', userData.mitgliedsnummer)">
                                                <i class="fa" ng-class="editStates.mitgliedsnummer ? 'fa-floppy-disk' : 'fa-pen'"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="kundennummer" class="form-label">Kundennummer</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="kundennummer" ng-model="userData.kundennummer" ng-readonly="!editStates.kundennummer">
                                            <button class="btn" ng-class="editStates.kundennummer ? 'btn-success' : 'btn-outline-secondary'" type="button" ng-click="toggleEdit('kundennummer', userData.kundennummer)">
                                                <i class="fa" ng-class="editStates.kundennummer ? 'fa-floppy-disk' : 'fa-pen'"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="id" class="form-label">E-Mail</label>
                                        <input type="text" class="form-control" id="id" placeholder="ID eingeben" value="{{userData.id}}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Passwort</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="password" ng-model="userData.password" ng-readonly="!editStates.password">
                                            <button class="btn" ng-class="editStates.password ? 'btn-success' : 'btn-outline-secondary'" type="button" ng-click="toggleEdit('password', userData.password)">
                                                <i class="fa" ng-class="editStates.password ? 'fa-floppy-disk' : 'fa-pen'"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="active" class="form-label">Gesperrt oder Aktiv?</label>
                                        <input type="text" class="form-control" id="active"
                                               value="{{ userData.active ? 'Aktiv' : 'Gesperrt' }}" readonly>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-referenzen" role="tabpanel" aria-labelledby="list-referenzen-list">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row pt-2 pb-2">
                                    <h5 class="card-title col-8">{{ userFiles.length > 0 ? 'Dateien' : 'Keine Dateien vorhanden' }} </h5>
                                    <div class="text-end col-4">
                                        <button class="btn btn-success position-relative" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#uploadFileModal">
                                            <i class="fa fa-upload"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <div class="input-group-text" ng-repeat="game in uniqueGames">
                                            <label for="uniqueFilter">{{game}}</label>
                                            <input type="checkbox" id="uniqueFilter" ng-click="setUniqueGame(game)" class="mx-2"/>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bg-danger border-2 border-top border-info">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover">
                                        <thead class="table-light fs-6">
                                            <tr>
                                                <th scope="col" class="align-middle col-8">Name</th>
                                                <th scope="col" class="align-middle">Spiel</th>
                                                <th scope="col" class="align-middle text-center">Download</th>
                                                <th scope="col" class="align-middle text-center">Ansehen</th>
                                                <th scope="col" class="align-middle text-center">Löschen</th>
                                            </tr>
                                        </thead>
                                        <tbody class="fs-6">
                                            <tr ng-repeat="userFile in userFiles | filter: filterUserFile">
                                                <td class="align-middle text-truncate" style="max-width: 500px;">
                                                    {{ userFile.fileName }}
                                                </td>
                                                <td class="align-middle">{{ userFile.game }}</td>
                                                <td class="align-middle text-center">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <button class="btn btn-outline-success" ng-click="downloadFile(userData.id, userFile.fileName)">
                                                            <i class="fa fa-download"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfPreviewModal" ng-click="loadPdf(userData.id, userFile.fileName)">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <button class="btn btn-outline-danger" ng-click="deleteFile(userData.id, userFile.fileName)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pdfPreviewModal" tabindex="-1" aria-labelledby="pdfPreviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfPreviewModalLabel">PDF Preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <canvas id="pdfCanvas" class="w-100"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModalLabel">Datei hochladen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fileUploadForm">
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Wählen das Ticket aus:</label>
                            <input class="form-control" type="file" id="fileInput" accept=".pdf" multiple>
                        </div>
                        <div class="mb-3">
                            <label for="game" class="form-label">Spiel:</label>
                            <input type="text" class="form-control" id="game">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="uploadFile()">Hochladen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading bg-light" ng-show="loading">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
