<!DOCTYPE html>
<html lang="en">
<head>
    <!-- base -->
    <base href="/">
    <!-- title -->
    <title>Error</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/0f25693bf8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
    <!-- bootstrap style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <!-- custom style -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container text-center">
        <h1 class="display-1 fw-bold">Fehler</h1>
        <p class="fs-3"> <span class="text-danger">Hoppla!</span> Ein Fehler ist aufgetreten.</p>
        <p class="lead mt-4">
            Es gab ein Problem bei der Verarbeitung Ihrer Anfrage. Bitte versuchen Sie es später erneut.
        </p>
        <a onclick="location.href='/'" class="btn btn-primary">
            ZURÜCK NACH HAUSE <i class="fas fa-home"></i>
        </a>
    </div>
</body>
</html>
