<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="container col p-4 m-2">
            <a [routerLink]="['/members']" class="col text-center nav-link">
                <i class="fas fa-users fa-2x mt-3"></i>
                <p>Mitglieder</p>
            </a>
        </div>
        <div class="container col p-4 m-2">
            <a [routerLink]="['/orders']" class="col text-center nav-link">
                <i class="fas fa-shopping-cart fa-2x mt-3"></i>
                <p>Bestellungen</p>
            </a>
        </div>
    </div>
</div>