name: Deploy to GitHub Pages

on:
  push:
    branches:
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '18.19.0'

      - name: Install dependencies and build
        run: |
          cd frontend-app
          npm install
          npm run build -- --configuration=production --output-path docs

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.MY_PAT }}
          branch: prod
          folder: frontend-app/dist
