name: Deploy Angular App to GitHub Pages

on:
  push:
    branches:
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '18.19.0'

      - name: Install dependencies and build
        run: |
          cd frontend-app
          npm install
          npm run build -- --configuration=production --base-href="https://durmex.de/"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          token: ${{ secrets.MY_PAT }}
          branch: develop
          folder: frontend-app/dist