name: Spring Boot CI/CD with Docker

on:
  push:
    branches: [ backend ]
    tags:
      - '*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: agandurm/member-management:latest,agandurm/member-management:${{ github.ref_name }}

      # Add additional steps for deploying to Render or other hosting services
      - name: Deploy to Render
        run: |
          # Your deployment script or commands
